.button-text{
    width: 98px;
    border: 0;
    padding: 13px;
    border-radius: 4px;
    font-size: 100%;
    height: auto;
    cursor: pointer;
    outline: none;
    font-family: 'avenir-medium'
}
