.button-text{
	margin-right: 0;
    width: 98px;
    border: 0;
    position: absolute;
    padding: 13px;
    border-radius: 4px;
    font-size: 100%;
    height: auto;
    color: #ffffff;
    cursor: pointer;
    bottom: 16px;
}

.button-text.blue{
	background-color: #00a8ff;
}

.button-text.blue:hover{
	background-color: #4cc2ff;
}

.button-text.white{
	background-color: #ffffff;
	color: #00a8ff;
	border: 2px solid #00a8ff;
}

.button-text.white:hover{
	background-color: #00a8ff;
	color: #ffffff;
}

#button-next, #button-done, #button-done-trivia {
    right: 0;
}