@font-face {
    font-family: 'Dosis';
    src: url('./Dosis-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Grand Hotel';
    src: url('./GrandHotel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Great Vibes';
    src: url('./GreatVibes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
