@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: normal;
    src: url('./Dosis-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Grand Hotel';
    font-style: normal;
    font-weight: normal;
    src: url('./GrandHotel-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Great Vibes';
    font-style: normal;
    font-weight: normal;
    src: url('./GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'avenir-light';
  font-style: normal;
  font-weight: normal;
  src: url('./AvenirLTStd-Light.eot');
  src: local('☺'), url('./AvenirLTStd-Light.woff') format('woff'), url('./AvenirLTStd-Light.ttf') format('truetype'), url('./AvenirLTStd-Light.svg') format('svg');
}

@font-face {
  font-family: 'avenir-medium';
  font-style: normal;
  font-weight: normal;
  src: url('./AvenirLTStd-Medium.eot');
  src: local('☺'), url('./AvenirLTStd-Medium.woff') format('woff'), url('./AvenirLTStd-Medium.ttf') format('truetype'), url('./AvenirLTStd-Medium.svg') format('svg');
}

@font-face {
  font-family: 'avenir-roman';
  font-style: normal;
  font-weight: normal;
  src: url('./AvenirLTStd-Roman.eot');
  src: local('☺'), url('./AvenirLTStd-Roman.woff') format('woff'), url('./AvenirLTStd-Roman.ttf') format('truetype'), url('./AvenirLTStd-Roman.svg') format('svg');
}