#search-panel-local {
    margin-top: 10px;
}

#local-search-content {
    height: 321px;
    width: 240px;
    overflow: auto;
    float: left;
}

.spanLink {
    cursor: pointer;
}

.uploadFile {
    margin-bottom: 5px;
    display: block;
    float: left;
    margin-right: 5px;
    z-index: 0;
    position: relative;
}

#local-search-input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    border: solid transparent;
    border-width: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    direction: ltr;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.uploadFile span {
    float: left;
    width: 165px;
    padding: 15px 0;
    color: #52585E;
    font-size: 14px;
    font-family: arial;
    font-weight: bold;
}

.uploadFile:hover > span{
    color: #ffffff;
}

.drag-drop-zone{
    height: 160px;
    width: 100%;
    position: relative;
    display: inline-block;
    border: 2px #bdbdbd dashed;
    border-radius: 8px;
    background: url(../../assets/searchPanelLocal/dropImgs.png) 50px center no-repeat;
}

.drag-drop-zone.active{
    border-color: #00a8ff;
}

.drag-drop-zone div{
    text-align: center;
    position: relative;
    top: 37px;
    padding: 10px;
    color: #313131;
}

.drag-drop-zone.active div{
    color: #00a8ff;
}

.alert-message{
    width: 330px;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-25%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

.alert-message span{
    color: #8b9195;
    font-family: "avenirlight",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}

.alert-message .buttons{
    width: 294px;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: -3px;
    margin-top: 20px;
}

.alert-message .buttons .btn-gotIt{
    border-radius: 3px;
    cursor: pointer;
    display: block;
    font-family: "avenirlight",Helvetica,Arial,sans-serif;
    font-weight: 200;
    text-align: center;
    line-height: 40px;
    padding: 0 2%;
    background: #00a8ff;
    border: 1px solid #00a8ff;
    color: #fff;
    transition: border-color .5s ease,color .5s ease,background-color .5s ease;
    width: 140px;
    height: 40px;
    font-size: 14px;
}

.alert-message .buttons .btn-gotIt:hover{
    border-color: #4cc2ff;
    background-color: #4cc2ff;
}

#alert-message-closeBtn .alert-message-closeBtn{
    cursor: pointer;
    position: absolute;
    right: -60px;
    top: 0px;
    z-index: 2;
}

.opacityModal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}