#search-panel-local {
    margin-top: 10px;
}

#local-search-content {
    height: 240px;
    width: 240px;
    overflow: auto;
    float: left;
    margin-top: 10px;
}

.spanLink {
    cursor: pointer;
}

.uploadFile {
    margin-bottom: 5px;
    display: block;
    float: left;
    margin-right: 5px;
    z-index: 0;
    position: relative;
}

#local-search-input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    border: solid transparent;
    border-width: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    direction: ltr;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.uploadFile span {
    float: left;
    width: 176px;
    padding: 15px 0;
    color: #52585E;
    font-size: 14px;
    font-family: "avenir-medium", arial;
    font-weight: bold;
}

.uploadFile:hover > span{
    color: #ffffff;
}

.drag-drop-zone{
    border: none;
    background: none;
}

.drag-drop-zone.empty{
    height: 160px;
    width: 100%;
    position: relative;
    display: inline-block;
    border: 2px #bdbdbd dashed;
    border-radius: 8px;
    background: url(../../assets/searchPanelLocal/dropImgs.png) 50px center no-repeat;
}

.drag-drop-zone.active{
    border-color: #00a8ff;
}

.drag-drop-zone .drag-drop-zone-text{
    text-align: center;
    position: relative;
    top: 37px;
    padding: 10px;
    color: #313131;
}

.drag-drop-zone.active .drag-drop-zone-text{
    color: #00a8ff;
}