#memotest-content .memotest-piece{
    border: 1px solid #5E5E5E;
    display: inline-block;
    border-radius: 9px;
    background-size: 61%;
    overflow: hidden;
    background-position: center center;
    box-shadow: 2px 2px 8px #888;
    background-repeat: no-repeat;
}

#memotest-content .memotest-piece.empty{
    background-image: url(../../assets/memotestPiece/dorso-big.png);
}

#memotest-content .memotest-piece.drag-over{
    border: 1px dashed #5E5E5E;
    opacity: 0.7;
}

#memotest-content .memotest-piece.image img{
    width: 100%;
    height: 100%
}

#memotest-pieces-container.small .memotest-piece,
#trivia-pieces-container.small .memotest-piece{
	width: 130px;
    height: 130px;
    margin: 15px;
    background-size: 130px 130px;
}

#memotest-pieces-container.medium .memotest-piece,
#memotest-pieces-container.large .memotest-piece, 
#trivia-pieces-container.medium .memotest-piece,
#trivia-pieces-container.large .memotest-piece{
	width: 85px;
	height: 85px;
	margin: 10px;
    background-size: 85px 85px;
}

#memotest-content .memotest-piece.text textarea{
    border: 0px;
    resize: none;
    height: 42px;
    padding: 0px;
    float: left;
    width: 130px;
    overflow: hidden;
    text-align: center;
    background-image: none;
    line-height: 42px;
    margin-top: 44px;
    outline: none;
}

#memotest-pieces-container.small .memotest-piece.text textarea,
#trivia-pieces-container.small .memotest-piece.text textarea{
    width: 130px;
    margin-top: 44px;
}

#memotest-pieces-container.medium .memotest-piece.text textarea,
#memotest-pieces-container.large .memotest-piece.text textarea,
#trivia-pieces-container.medium .memotest-piece.text textarea,
#trivia-pieces-container.large .memotest-piece.text textarea{
    width: 85px;
    margin-top: 21.5px;
}

#memotest-content .memotest-piece.text.font1{
    background-color: rgb(255, 255, 255);
}

#memotest-content .memotest-piece.text.font2{
    background-color: rgb(115, 115, 115);
}

#memotest-content .memotest-piece.text.font3{
    background-color: rgb(255, 181, 131);
}

#memotest-content .memotest-piece.text.font4{
    background-color: rgb(244, 86, 86);
}

#memotest-content .memotest-piece.text.font5{
    background-color: rgb(158, 250, 203);
}

#memotest-content .memotest-piece.text.font6{
    background-color: rgb(79, 205, 141);
}

#memotest-content .memotest-piece.text.font7{
    background-color: rgb(170, 218, 255);
}

#memotest-content .memotest-piece.text.font8{
    background-color: rgb(87, 155, 224);
}

#memotest-content .memotest-piece.text.font9{
    background-color: rgb(255, 249, 183);
}

#memotest-content .memotest-piece.text.font10 {
    background-color: rgb(197, 168, 240);
}

#memotest-content .memotest-piece.text.font1 > textarea{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Dosis;
    font-size: 26px;
}

#memotest-content .memotest-piece.text.font2 > textarea{
    background-color: rgb(115, 115, 115);
    color: rgb(255, 255, 255);
    font-family: Dosis;
    font-size: 26px;
    opacity: 1;
}

#memotest-content .memotest-piece.text.font3 > textarea{
    background-color: rgb(255, 181, 131);
    color: rgb(0, 0, 0);
    font-family: "Grand Hotel";
    font-size: 33px;
}

#memotest-content .memotest-piece.text.font4 > textarea{
    background-color: rgb(244, 86, 86);
    color: rgb(255, 255, 255);
    font-family: "Grand Hotel";
    font-size: 33px;
    opacity: 1;
}

#memotest-content .memotest-piece.text.font5 > textarea{
    background-color: rgb(158, 250, 203);
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 22px;
}

#memotest-content .memotest-piece.text.font6 > textarea{
    background-color: rgb(79, 205, 141);
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 22px;
    opacity: 1;
}

#memotest-content .memotest-piece.text.font7 > textarea{
    background-color: rgb(170, 218, 255);
    color: rgb(0, 0, 0);
    font-family: Times;
    font-size: 24px;
    opacity: 1;
}

#memotest-content .memotest-piece.text.font8 > textarea{
    background-color: rgb(87, 155, 224);
    color: rgb(255, 255, 255);
    font-family: Times;
    font-size: 24px;
    opacity: 1;
}

#memotest-content .memotest-piece.text.font9 > textarea{
    background-color: rgb(255, 249, 183);
    color: rgb(0, 0, 0);
    font-family: "Great Vibes";
    font-size: 33px;
}

#memotest-content .memotest-piece.text.font10 > textarea{
    background-color: rgb(197, 168, 240);
    color: rgb(255, 255, 255);
    font-family: "Great Vibes";
    font-size: 33px;
    opacity: 1;
}