#memotest-content #trivia-question-container {
    margin: 12px 0 0 20px;
    border-left: 3px solid #00a8ff;
    padding-left: 10px;
    margin-left: 140px;
    margin-bottom: 10px;
}

#memotest-content #trivia-question-container .triviaQuestion {
    font-weight: normal;
    color: #00a8ff;
    border: 0;
    outline: none;
    margin-bottom: 0;
    padding-left: 0px;
    font-size: 23px;
    width: 93%;
    background: transparent;
    height: 22px;
    opacity: 0.70;
    font-family: "avenir-medium", Arial, Helvetica, sans-serif;
    padding: 10px 0px 10px 14px;
}

#trivia-pieces-container {
    width: auto;
    margin-top: 5px;
    text-align: center;
}

#trivia-pieces-container.small {
    height: 486px;
    padding: 0px 53px;
}

#trivia-pieces-container.medium {
    height: 424px;
    padding: 0px 191px;
}

#trivia-pieces-container.large {
    height: 424px;
    padding: 0px 84px;
}

#trivia-pieces-container .memotest-piece.selected{
    border: 4px #00a8ff solid;
}

#memotest-content #trivia .control-panel {
    width: 915px;
    height: 40px;
}

#memotest-content #trivia .control-panel .button-text{
    margin-right: 0;
    position: absolute;
    bottom: 16px;
}

#memotest-content #trivia .control-panel .button-text.blue{
    color: #ffffff;
    background-color: #00a8ff;
}

#memotest-content #trivia .control-panel .button-text.blue:hover{
    background-color: #4cc2ff;
}

#memotest-content #trivia .control-panel .button-text.white{
    background-color: #ffffff;
    color: #00a8ff;
    border: 2px solid #00a8ff;
}

#memotest-content #trivia .control-panel .button-text.white:hover{
    background-color: #00a8ff;
    color: #ffffff;
}

#memotest-content #trivia .control-panel #button-done-trivia {
    right: 0;
}