.ui-draggable {
    -ms-touch-action: none;
    touch-action: none;
}

.search-font {
    margin: 0 2px 2px 0;
    float: left;
    -moz-border-radius: 8px;
    border-radius: 8px;
    cursor: move;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
}

.search-font span {
    padding: 0;
    display: block;
    height: 100px;
    line-height: 100px;
}

#font1{
    background-color: #ffffff;
    color: #000000;
    font-family: Dosis;
    font-size: 26px;
    border: 1px solid #737373;
}

#font2{
    background-color: #737373;
    color: #ffffff;
	font-family: Dosis;
	font-size: 26px;
	opacity: 1;
}

#font3{
    background-color: #FFB583;
    color: #000000;
	font-family: "Grand Hotel";
	font-size: 33px;
}

#font4{
    background-color: #F45656;
    color: #ffffff;
    font-family: "Grand Hotel";
    font-size: 33px;
    opacity: 1;
}

#font5{
    background-color: #9EFACB;
    color: #000000;
    font-family: Arial;
    font-size: 22px;
}

#font6{
    background-color: #4FCD8D;
    color: #ffffff;
    font-family: Arial;
    font-size: 22px;
    opacity: 1;
}

#font7{
    background-color: #AADAFF;
    color: #000000;
    font-family: Times;
    font-size: 24px;
    opacity: 1;
}

#font8{
    background-color: #579BE0;
    color: #ffffff;
    font-family: Times;
    font-size: 24px;
    opacity: 1;
}

#font9{
    background-color: #FFF9B7;
    color: #000000;
    font-family: "Great Vibes";
    font-size: 33px;
}

#font10{
    background-color: #C5A8F0;
    color: #ffffff;
    font-family: "Great Vibes";
    font-size: 33px;
    opacity: 1;
}