#memotest-content {
    width: 915px;
    height: 718px;
    margin: 0 auto;
    position: relative;
}

#memotest-content #menu {
    height: 38px;
    margin: 0;
    float: right;
}

#memotest-content #search {
    font-size: 13px;
    width: 222px;
    height: 550px;
    float: left;
    padding: 0px 15px 15px 0px;
}

#memotest-content #memotest{
    width: 650px;
    float: right;
}

#memotest-container #trivia {
    width: 100%;
    float: left;
    margin-top: 20px;
}

#memotest-pieces-main {
    height: 550px;
    position: relative;
}

#memotest-content .control-panel {
    width: 915px;
    height: 40px;
}

#memotest-content #search-main-image, #memotest-content #search-main-text {
    height: 600px;
    margin-top: 20px;
}

#memotest-content #item-list {
    top: -28px;
    background-color: white;
    position: relative;
    left: -46px;
    margin: 0 0 0 -1px;
    padding: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: VerdanaRegular;
    font-size: 14px;
    color: #313131;
}

#memotest-content #item-list .memotest-size {
    display: block;
    position: relative;
    z-index: 500;
    margin: 0 1px;
    height: 38px;
    cursor: pointer;
    background-repeat: no-repeat;
    width: 109px;
    float: left;
    border: 1px solid black;
    border-top: none;
    background-color: #ffffff;
}

#memotest-content #item-list a {
    display: block;
    height: 22px;
    padding: 8px 5px;
    color: #666;
    text-decoration: none;
    text-align: center;
}

#item-list .memotest-tick-chosen-size {
    float: left;
    margin: 3px 0 0 9px;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 5px;
    left: 2px;
}

#memotest-content #item-list .memotest-size span {
    padding: 0;
    display: block;
}

#memotest-content #item-list .memotest-size:hover {
    background-color: #dbf2ff;
}

#memotest-content #item-list .memotest-size:hover a {
    color: #159ead;
}

.switch-button {
  position: absolute;
  display: inline-block;
  width: 52px;
  height: 27px;
  right: 110px;
  bottom: 16px;
}

.switch-button-label {
  position: absolute;
  right: 74px;
  bottom: 4px;
  width: 104px;
  color: #313131;
}


.button-text{
    margin-right: 0;
    position: absolute;
    bottom: 16px;
}

.button-text.blue{
    color: #ffffff;
    background-color: #00a8ff;
}

.button-text.blue:hover{
    background-color: #4cc2ff;
}

.button-text.white{
    background-color: #ffffff;
    color: #00a8ff;
    border: 2px solid #00a8ff;
}

.button-text.white:hover{
    background-color: #00a8ff;
    color: #ffffff;
}

#button-next, #button-done, #button-done-trivia {
    right: 0;
}

.hide {
    display: none;
}