#memotest-content {
    width: 915px;
    height: 718px;
    margin: 0 auto;
    position: relative;
}

#memotest-content #menu {
    height: 38px;
    margin: 0;
    float: right;
}

#memotest-content #search {
    font-size: 13px;
    width: 224px;
    height: 550px;
    float: left;
    padding: 0px 15px 15px 0px;
}

#memotest-content #memotest{
    width: 650px;
    float: right;
}

#memotest-container #trivia {
    width: 100%;
    float: left;
    margin-top: 20px;
}

#memotest-content #item-list {
    top: -31px;
    background-color: white;
    position: relative;
    left: -46px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "avenir-light";
    font-size: 14px;
    color: #313131;
}

#memotest-content #item-list .memotest-size {
    display: block;
    position: relative;
    z-index: 500;
    margin: 0 1px;
    height: 38px;
    cursor: pointer;
    background-repeat: no-repeat;
    width: 110px;
    float: left;
    border: 1px solid black;
    border-top: none;
    background-color: #ffffff;
}

#memotest-content #item-list a {
    display: block;
    height: 22px;
    padding: 8px 5px;
    color: #666;
    text-decoration: none;
    text-align: center;
}

#item-list .memotest-tick-chosen-size {
    float: left;
    margin: 3px 0 0 9px;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 9px;
    left: 2px;
}

#memotest-content #item-list .memotest-size span {
    padding: 0;
    display: block;
}

#memotest-content #item-list .memotest-size:hover {
    background-color: #dbf2ff;
}

#memotest-content #item-list .memotest-size:hover a {
    color: #159ead;
}

.hide {
    display: none;
}

.alert-message{
    width: 330px;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-25%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

.alert-message span{
    color: #8b9195;
    font-family: "avenir-light",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}

.alert-message .buttons{
    width: 294px;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: -3px;
    margin-top: 20px;
}

.alert-message .buttons .btn-gotIt{
    border-radius: 3px;
    cursor: pointer;
    display: block;
    font-family: "avenir-light",Helvetica,Arial,sans-serif;
    font-weight: 200;
    text-align: center;
    line-height: 40px;
    padding: 0 2%;
    background: #00a8ff;
    border: 1px solid #00a8ff;
    color: #fff;
    transition: border-color .5s ease,color .5s ease,background-color .5s ease;
    width: 140px;
    height: 40px;
    font-size: 14px;
}

.alert-message .buttons .btn-gotIt:hover{
    border-color: #4cc2ff;
    background-color: #4cc2ff;
}

#alert-message-closeBtn .alert-message-closeBtn{
    cursor: pointer;
    position: absolute;
    right: -60px;
    top: 0px;
    z-index: 2;
}

.opacityModal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}