.button-icon{
    background-color: #ffffff;
	width: 112px;
    height: 40px;
	cursor: pointer;
	font-family: 'avenir-medium', Arial, Helvetica, sans-serif;
    font-size: 13px;
    -webkit-appearance: none;
	padding: 10px 8px 7px 45px;
    text-align: left;
    border: none;
    font-weight: normal;
    color: #313131;
    list-style: none;
    outline: none;
}

.button-icon.on{
	background-color: #00a8ff;
	color: #ffffff;
}

.button-icon span {
    top: 3px;
    position: relative;
}

.button-icon img {
    height: 40px;
    left: -45px;
    top: -26px;
    position: relative;
    background-repeat: no-repeat;
}

