.button-icon{
    background-color: #ffffff;
	width: 112px;
    height: 38px;
	cursor: pointer;
	font-family: 'roboto regular', Arial, Helvetica, sans-serif;
    font-size: 13px;
    -webkit-appearance: none;
	padding: 10px 8px 7px 45px;
    text-align: left;
    border: none;
    font-weight: normal;
    color: #313131;
    list-style: none;
    outline: none;
}

.button-icon.on{
	background-color: #00a8ff;
	color: #ffffff;
}

.button-icon img {
    height: 38px;
    left: -45px;
    top: -25px;
    position: relative;
    background-repeat: no-repeat;
}

