#memotest-pieces-container {
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#memotest-pieces-container{
    margin-top: 5px;
}

#memotest-pieces-container.small {
    height: 486px;
}

#memotest-pieces-container.medium {
    height: 424px;
    padding: 10px 57px 0px 57px;
    text-align: center;
}

#memotest-pieces-container.large {
    height: 424px;
    padding-top: 10px;
    text-align: center;
}