#memotest-pieces-main {
    height: 550px;
    position: relative;
}

#memotest-pieces-container {
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#memotest-pieces-container{
    margin-top: 5px;
}

#memotest-pieces-container.small {
    height: 486px;
}

#memotest-pieces-container.medium {
    height: 424px;
    padding: 10px 59px 0px 59px;
    text-align: center;
}

#memotest-pieces-container.large {
    height: 424px;
    padding-top: 10px;
    text-align: center;
}

#memotest-content #memotest .control-panel {
    width: 915px;
    height: 40px;
}

#memotest-content #memotest .control-panel .switch-button {
  position: absolute;
  display: inline-block;
  width: 52px;
  height: 27px;
  right: 140px;
  bottom: 25px;
}

#memotest-content #memotest .control-panel .switch-button-label {
  position: absolute;
  right: 74px;
  bottom: 4px;
  width: 106px;
  color: #313131;
}

#memotest-content #memotest .control-panel .button-text{
    margin-right: 0;
    position: absolute;
    bottom: 16px;
}

#memotest-content #memotest .control-panel .button-text.blue{
    color: #ffffff;
    background-color: #00a8ff;
}

#memotest-content #memotest .control-panel .button-text.blue:hover{
    background-color: #4cc2ff;
}

#memotest-content #memotest .control-panel #button-next,
#memotest-content #memotest .control-panel #button-done {
    right: 0;
}
