#reports {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "avenir-light", Arial, Helvetica, sans-serif;
    overflow: hidden;
    transform-origin: 0px 0px;
    -moz-transform-origin: 0px 0px;
    -webkit-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
}

#header {
    border-bottom: 1px solid #E3E2E2;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 75px;
}

@media screen and (min-width: 1280px)
#header {
    height: 85px;
}

@media screen and (max-height: 480px) and (orientation: landscape)
#header {
    height: 55px;
}

#header .container {
    max-width: 577px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#logo {
    width: 50px;
    vertical-align: middle;
}

h2#title {
    padding: 0;
    text-align: center;
}

@media screen and (min-width: 1280px)
#title {
    font-size: 26px;
    line-height: 85px;
}
@media screen and (min-width: 1024px)
#title {
    font-size: 24px;
}
@media screen and (max-height: 480px) and (orientation: landscape)
#title {
    font-size: 18px;
    line-height: 55px;
}

#title {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #888;
    font-family: 'avenir-roman', Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 75px;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    vertical-align: middle;
}

#reports #memotest-pieces-main{
    height: 190px;
    margin: 0 auto;
}

#reports #memotest-pieces-container{
    height: 190px;
}

#reports #memotest-pieces-container.medium{
    padding: 10px 57px 0px 57px;
}

#reports #memotest-pieces-container.large{
    height: 290px;
}

#reports #memotest-pieces-main.small{
    max-width: 522px;
}

#reports #memotest-pieces-main.medium{
    max-width: 810px;
}

#reports #memotest-pieces-main.large{
    max-width: 764px;
    height: 310px;
}

#reports #memotest-pieces-main .memotest-piece.selected{
    border: 5px #00a8ff solid;
}

#reports #memotest-pieces-container .memotest-piece{
    width: 75px;
    height: 75px;
    margin: 5px;
    background-size: 75px 75px;
    border:none;
    box-sizing: border-box;
}

#reports #memotest-pieces-container.small .memotest-piece.text.selected textarea,
#reports #memotest-pieces-container.medium .memotest-piece.text.selected textarea,
#reports #memotest-pieces-container.large .memotest-piece.text.selected textarea{
    padding: 0px;
    width: 65px;
    max-height: 65px;
    margin-top: 12px;
}


#reports #memotest-pieces-container.small .memotest-piece.text textarea,
#reports #memotest-pieces-container.medium .memotest-piece.text textarea,
#reports #memotest-pieces-container.large .memotest-piece.text textarea {
    width: 63px;
    max-height: 52px;
    margin-top: 11px;
    padding: 5px;
    font-size: 16px;
}

.memotest-reports-table{
    display: block;
    overflow: auto;
    width: 810px;
    margin: auto;
    margin-bottom: 10px;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 20px;
}

.memotest-reports-table thead th {
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: normal;
    background-color: #aaaaaa;
    color: white;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    font-size: 78%;
    vertical-align: middle;
    font-family: "avenir-medium", Helvetica, Arial, sans-serif;
    line-height: 12px;
    width: 20%;
    min-width: 150px;
    padding: 5px 10px;
    text-align: center;
    white-space: normal;
}

.memotest-reports-table thead th,
.memotest-reports-table tbody td {
    text-overflow: ellipsis;
}

.memotest-reports-table tbody {
    border-bottom: 1px solid #f3f3f3;
}

.memotest-reports-table tbody td {
    white-space: nowrap;
    overflow: hidden;
    font-family: "avenir-light", Helvetica, Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #eaeef1;
    box-sizing: border-box;
    color: #5b6d79;
    font-size: 14px;
    padding: 10px 15px;
    word-wrap: break-word;
}

#reports #reports-content{
    padding: 20px 100px 0px 100px;
}

#reports #memotest-final-question{
    max-width: 810px;
    margin: 0 auto;
    color: #333;
    font-family: 'avenir-roman', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    padding-top: 20px;
}
